<% include ../partials/header %>

  <% if(currentUser ) { %>
    <h1>Welome Bharath</h1>
  <% } %>


 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome </h1>
             
             <p>
                <a class="btn btn-primary btn-large" href="/secrets/new">Add New </a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% secrets.forEach(function(secret){ %>
           
                       <h4><%= secret.secret %></h4>
                   </div>
                   <p>
                       <a href="/secrets/<%= secret._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
