<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New secret</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/secrets" method="POST" >
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"  name="image" required placeholder="image">
                </div>
                <div class="form-group">
                   <textarea name="description"  cols="70" rows="30" placeholder="your secret"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="youraadhaar" placeholder="your aadhaar">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="nominee" placeholder="nominee name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="nomineeaadhaar" placeholder="nominee aadhaar">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="nomineeemail" placeholder="nominee email">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/secrets">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>
